<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
	<test name="ContactsPageTest1">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="stagingUrl" />
		<classes>
			<class name="GT.GT.ContactsPageTest">
				<methods>
       				 <include name="verifyCreateListFromContactsPage" />
       				 <include name="verifyCreateListFromExcelUpload" />
      			</methods>
			</class>
		</classes>
	</test>
	<test name="AccountPageTest1">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="stagingUrl" />
		<classes>
			<class name="GT.GT.AccountPageTest">
				<methods>
       				 <include name="verifyAllAndRechargesTabsOnMyAccountPage" />
       				 <include name="verifyAllTabsAreDisplayedOnMyAccountPage" />
      			</methods>
      		</class>	
		</classes>
	</test>
	<test name="CreateAndCallGroupTest">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="stagingUrl" />
		<classes>
			<class name="GT.GT.CreateAndCallGroupTest">
				<methods>
       				 <include name="verifySearchOptionWithPartialValidUserName" />
       				 <include name="verifyFooterTextDisplayedOnMyGrpTalksPage" />
       				 <include name="verifySearchOptionWithfullValidUserName" />
      			</methods>
      		</class>
		</classes>
	</test>

</suite>

			