<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="none">

	<test name="CreatingGroupTest">
		<classes>
			<class name="GT.GT.CreatingGroupTest">	</class>
		</classes>
	</test>

	<test name="ContactsPageTest">
		<classes>
			<class name="GT.GT.ContactsPageTest">	</class>
		</classes>
	</test>
	
	<test name="AccountPageTest">
		<classes>
			<class name="GT.GT.AccountPageTest">	</class>
		</classes>
	</test>
	
</suite> <!-- Suite -->


